<h1>Application</h1>
<h1>  Ember 1</h1>

{{outlet greeting}}

<p>Your content here.</p>

<p {{bindAttr class="isSlogan"}} > Ember is: {{slogan}} </p>
<p><a {{action goToCars href=true}}> Go To Cars </a>

<hr>

{{outlet body}}
{{outlet footer}}
