<h1> Pom # {{id}} </h1>
<p> <strong> description: {{ description }} </p>
<p> <strong> start time: {{ startTime }} </p>
<p> <strong> duration: {{ duration }} </p>
<p> <strong> end time: {{ endTime }} </p>
