<h1>Shoes</h1>

<p>lets get some shoes </p>

<p>
  {{#each shoe in controller}}
  {{#with shoe}}
  <li style="color: #000"><a {{action showShoe this href=true}}> {{name}} </a> </li>
  <!-- {{id}} | {{name}} | {{price}} : {{description}}  -->
  {{/with}}
  {{/each}}
</p>

